/* set semua kode menjadi margin 0 */
*{
    margin: 0;
    list-style: none;
}

/* atur style untuk component search */
.search_title{
    text-align: center;
    margin: 2rem;
}

/* atur style untuk component input */
.Input #input_title{
   text-align: center;
   margin: 2rem; 
}

.input_container{
    margin: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.input_container input{
    padding: 0.5rem 3rem;
}

.input_container button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem 7rem;
    background-color: rgb(24, 84, 107);
    color: white;
    border-radius: 5px;
    border: none;
}

.input_container button:hover{
    background-color: skyblue;
    color: white;
    border-radius: 5px;
    border: none;
}

.task_container{
    margin-top: 1rem;
    margin-right: 2rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(24, 84, 107);
    border-radius: 5px;
}

.task_icon button{
    margin-left: 1rem;
    background-color: skyblue;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

#list_title{
    text-align: center;
}

.button_delete{
    display: flex;
    justify-content: center;
    margin: 3rem 2rem;
}


/* atur style untuk component header */
.Header{
    margin: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;
    display: grid;
    grid-template-columns: 70% 30%;
}

.Header .search_button{
    padding-left: 10rem;
    padding-right: 10rem;
}

/* atur style untuk button add new task */
.newTask{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* atur style untuk button main => filter*/
.Main{
    margin: 2rem;
}

.Main h1{
    text-align: center;
}

.Main button{
    padding-left: 8rem !important;
    padding-right: 8rem !important;
}

.filter_container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

